* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(217, 54%, 11%);
}

#container {
  height: 95vh;
  width: 100vw;
  display: flex;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

div .components {
  margin: 0 auto;
  background-color: hsl(216, 50%, 16%);
  width: 320px;
  height: 530px;
  border-radius: 10px;
  padding: 20px;
  font-size: 15px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  box-shadow: 0px 30px 40px hsl(216, 50%, 1%);
  /* border: 4px solid white; */
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  text-align: center;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
}

h2,
p {
  padding: 10px 0;
}

div .comp {
  margin-bottom: 10px;
  padding: 2px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component {
  display: flex;
  align-items: center;
}

.rate {
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}

.component > * {
  margin: 0 2px;
}

footer img {
  max-width: 35px;
  border: 2px solid white;
  border-radius: 50%;
}

.foot {
  display: flex;
  align-items: center;
  margin: 15px auto;
}

.foot span {
  margin-left: 10px;
}

.foot span a {
  color: white;
}
/* hr {
  background-color: hsl(215, 32%, 27%);
} */

span a:hover,
h2 a:hover {
  color: hsl(178, 100%, 50%);
  transition: 0.5s;
}
img.view {
  position: absolute;
  width: 280px;
  top: 33%;
  left: 50%;
  padding: 80px;
  transform: translate(-50%, -50%);
  background-color: hsl(178, 100%, 50%);
  opacity: 0;
  z-index: 10;
}

img.view:hover {
  opacity: 0.6;
  transition: 0.6s;
}

span.time {
  font-weight: 600;
}
